<svg
    ng-mousedown="nodeMouseDown($event, sgEvent)"
    ng-attr-x="{{sgEvent.x}}"
    ng-attr-y="{{sgEvent.y}}"
    ng-attr-width="{{radius*2}}" ng-attr-height="{{radius*2}}">
    <circle
        ng-class="{ selected : sgEvent.selected }"
        ng-attr-cx="{{radius}}" ng-attr-cy="{{radius}}" ng-attr-r="{{radius}}"></circle>
    <text ng-attr-x="{{radius}}" ng-attr-y="{{radius*1.2}}"
          font-family="sans-serif" font-size="20px" text-anchor="middle" fill="red">{{sgEvent.id}}
    </text>
</svg>
