<div class="row full-height">
    <div class="col-md-10 full-height">
        <svg class="full-height main-canvas"
             ng-dblclick="addNewEvent($event)"
             ng-mousedown="deselectAll()">
            <sg-event-shape ng-repeat="event in events" sg-event="event"></sg-event-shape>
            <sg-event-dependency ng-repeat="dependency in dependencies"
                                 sg-dependency="dependency"></sg-event-dependency>
        </svg>
    </div>
    <div class="col-md-2">
        <div ng-if="state.selectedEvents.length==1">
            <label>Event Details:</label>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Name</label>

                    <p class="form-control-static">{{getSgEvent().name}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">ID</label>

                    <p class="form-control-static">{{getSgEvent().id}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Constraints</label>
                    <ui>
                        <li ng-repeat="constraint in getSgEvent().constraints">{{constraint}}</li>
                    </ui>
                </div>
                <div class="form-group">
                    <label class="control-label">Dependencies</label>
                    <ui>
                        <li ng-repeat="inDep in eventDeps[getSgEvent().id].inDeps">{{inDep}}</li>
                        <li ng-repeat="outDep in eventDeps[getSgEvent().id].outDeps">{{outDep}}</li>
                    </ui>
                </div>
            </div>
        </div>
        <div ng-if="state.selectedEvents.length>1">
            <label>Selected Events:</label>
            <ul>
                <li ng-repeat="sgEvent in state.selectedEvents">{{sgEvent.id}}: {{sgEvent.name}}</li>
            </ul>
        </div>
    </div>
</div>

