<div class="full-height">
    <div class="row full-height">

        <!--<div class="col-md-3">-->
            <!--Operations:-->
            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<h4>Add Event</h4>-->
                    <!--<button ng-click="ctrl.addEvent()" class="btn btn-default">Add</button>-->
                <!--</div>-->
            <!--</form>-->

            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<h4>Remove Event</h4>-->
                    <!--<label>Event</label> <select class="form-control"-->
                                   <!--ng-options="event.name for event in ctrl.events"-->
                                   <!--ng-model="ctrl.eventToRemove"></select>-->
                    <!--<button ng-click="ctrl.removeEvent()" class="btn btn-default">Remove</button>-->
                <!--</div>-->
            <!--</form>-->

            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<h4>Add Dependency</h4>-->
                    <!--<label>From</label><select class="form-control"-->
                                            <!--ng-options="event.name for event in ctrl.events"-->
                                            <!--ng-model="ctrl.newDependencyData.w"></select>-->
                    <!--<label>To</label><select class="form-control"-->
                               <!--ng-options="event.name for event in ctrl.events"-->
                               <!--ng-model="ctrl.newDependencyData.v"></select>-->
                    <!--<label>Type</label><select class="form-control"-->
                                    <!--ng-options="type.name for type in ctrl.constraintTypes"-->
                                    <!--ng-model="ctrl.newDependencyData.type"></select>-->
                    <!--<label>Data</label><input ng-model="ctrl.newDependencyData.data">-->
                    <!--<button ng-click="ctrl.addDependency()" class="btn btn-default">Add</button>-->
                <!--</div>-->
            <!--</form>-->
            <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                    <!--<h4>Remove Edge</h4>-->
                    <!--<label>Edge</label> <select class="form-control"-->
                                   <!--ng-options="dependency for dependency in ctrl.dependencies"-->
                                   <!--ng-model="ctrl.dependencyToRemove"></select>-->
                    <!--<button ng-click="ctrl.removeDependency()" class="btn btn-default">Remove</button>-->
                <!--</div>-->
            <!--</form>-->

        <!--</div>-->

        <div class="remote-col-md-9 canvas-tab full-height">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button"
                        class="btn btn-default"
                        ng-click="ctrl.addEvent()">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add Event</span>
                </button>
                <!--<button type="button"-->
                        <!--class="btn btn-default"-->
                        <!--ng-disabled="!ctrl.canConnect()"-->
                        <!--ng-click="ctrl.connectEvents()">-->
                    <!--<span class="glyphicon glyphicon-link"></span>-->
                    <!--<span>Add Dependency</span>-->
                <!--</button>-->
                <button type="button"
                    class="btn btn-default"
                    ng-disabled="!ctrl.canEdit()"
                    ng-click="ctrl.edit()">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>Edit</span>
                </button>
                <button type="button"
                        class="btn "
                        ng-class="{'btn-danger' : ctrl.canDelete(), 'btn-default': !ctrl.canDelete()}"
                        ng-disabled="!ctrl.canDelete()"
                        ng-click="ctrl.removeSelected()">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>Remove</span>
                </button>
                <!--<span class="btn btn-default">-->
                    <!--<span class="glyphicon glyphicon-question-sign"></span>-->
                <!--</span>-->
                <span class="well">Hold <kbd>Shift</kbd> for multiselect</span>
            </div>
            <sg-canvas></sg-canvas>
        </div>
    </div>

</div>
