<div>
    Character constraint
</div>
<div class="form-group">
    <label>Select operator</label>
    <select class="form-control"
            required
            ng-options="operator as operator.name for (id , operator) in ctrl.constraint.operators"
            ng-model="ctrl.constraint.operator"></select>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="ctrl.constraint.soft">
        <span>Optional Constraint?</span>
    </label>
</div>
<div class="form-inline">
    <div class="form-group"
         ng-if="ctrl.constraint.operator.extraN">
        <label>Size of N</label>
        <input type="number"
               required
               class="form-control"
               ng-model="ctrl.constraint.extraN">
    </div>
</div>
<select-characters container="ctrl.constraint" />
