<div>
    Character constraint
</div>
<div class="form-group">
    <label>Select operator</label>
    <select class="form-control"
            required
            ng-options="operator as operator.name for (id , operator) in ctrl.constraint.operators"
            ng-model="ctrl.constraint.operator"></select>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="ctrl.constraint.soft">
        <span>Optional Constraint?</span>
    </label>
</div>
<div class="form-inline">
    <div class="form-group"
         ng-if="ctrl.constraint.operator.extraN">
        <label>Size of N</label>
        <input type="number"
               required
               class="form-control"
               ng-model="ctrl.constraint.extraN">
    </div>
</div>
<div class="form-inline">
    <div class="form-group"
         ng-if="!ctrl.editMode">
        <label>Select Group</label>
        <!-- clear selections upon group change -->
        <select class="form-control"
                ng-change="ctrl.constraint.value.splice(0)"
                ng-options="group as group.name for group in ctrl.constraint.profile.groups"
                ng-model="ctrl.constraint.group"></select>
    </div>
</div>
<div class="form-group"
     ng-show="!!ctrl.constraint.group">
    <label>Select value(s)</label>

    <div class="input-group">
        <input class="form-control"
               ng-model="search"
               ng-init="search=''"
               placeholder="Filter options">

        <div class="input-group-btn">
            <button class="btn"
                    type="button"
                    ng-click="search=''">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>

    <div class="checkbox"
         ng-repeat="(id, option) in ctrl.constraint.options | filter:{group: ctrl.constraint.group.id} | filter:{name:search}">
        <label>
            <input type="checkbox" checklist-model="ctrl.constraint.value" checklist-value="option">
            <span>{{option.name}}</span>
        </label>
    </div>
</div>
