<div>
    Time constraint
</div>
<div class="form-group">
    <label>Select operator</label>
    <select class="form-control"
            required
            ng-options="operator as operator.name for (id , operator) in ctrl.constraint.operators"
            ng-model="ctrl.constraint.operator"></select>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="ctrl.constraint.soft">
        <span>Optional Constraint?</span>
    </label>
</div>
<div class="form-group">
    <label>Select value(s)</label>

    <div class="checkbox" ng-repeat="option in ctrl.constraint.options">
        <label>
            <input type="checkbox" checklist-model="ctrl.constraint.value" checklist-value="option">
            <span>{{option.name}}</span>
        </label>
    </div>
</div>
