<div class="modal-header">
    <h3 class="modal-title">{{ctrl.editMode ? 'Edit' : 'Add'}} Dependency</h3>
</div>
<div class="modal-body">
    <form name="dependencyEditForm">
        <div class="form-group">
            <label>Choose Target Events</label>

            <!-- show all other events -->
            <div class="checkbox"
                 ng-repeat="event in ctrl.events | filter: {id: '!'+ctrl.sgEvent.id}">
                <label>
                    <input type="checkbox"
                           checklist-model="ctrl.targetEvents"
                           checklist-value="event.id">
                    <span>{{event.id}}:{{event.name}}</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Choose type</label>
            <select class="form-control"
                    ng-model="ctrl.type"
                    ng-change="ctrl.changeType()"
                    required>
                <option value="when">When</option>
                <option value="where">Where</option>
                <option value="what">What</option>
                <option value="who">Who</option>
            </select>
        </div>

        <div class="form-group"
             ng-if="ctrl.operators">
            <label>Choose operator</label>
            <select class="form-control"
                    ng-model="ctrl.operator"
                    ng-options="operator as operator.name for (id , operator) in ctrl.operators"
                    required>
            </select>
        </div>
        <div class="form-group"
             ng-if="ctrl.operator.extraN">
            <label>N</label>
            <input class="form-control"
                   ng-model="ctrl.extraN"
                   required>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-default"
            ng-disabled="dependencyEditForm.$invalid || ctrl.isFormInvalid()"
            ng-click="ctrl.ok()">OK
    </button>
    <button class="btn btn-warning"
            ng-click="ctrl.cancel()">Cancel
    </button>
</div>
