<div>
    Character constraint
</div>
<div class="form-group">
    <label>Select operator</label>
    <select class="form-control"
            required
            ng-options="operator as operator.name for (id , operator) in ctrl.constraint.operators"
            ng-model="ctrl.constraint.operator"></select>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="ctrl.constraint.soft">
        <span>Optional Constraint?</span>
    </label>
</div>
<div class="form-group">
    <label>Select Group</label>
    <!-- clear selections upon group change -->
    <select class="form-control"
            ng-change="ctrl.constraint.value.splice(0)"
            ng-options="group as group.name for group in ctrl.constraint.profile.groups"
            ng-model="group"></select>
</div>
<div class="form-group"
     ng-show="!!group">
    <label>Select value(s)</label>
    <input class="form-control"
           ng-model="search"
           ng-init="search=''"
           placeholder="Filter options">
    <div class="checkbox"
         ng-repeat="(id, option) in ctrl.constraint.options | filter:{group: group.id} | filter:{name:search}">
        <label>
            <input type="checkbox" checklist-model="ctrl.constraint.value" checklist-value="option">
            <span>{{option.name}}</span>
        </label>
    </div>
</div>
